
* {
    margin: 0;
    padding: 0;
    background-color: wheat;
}
.navbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 15px;
    cursor: pointer;
    background-color: rgb(11, 47, 29);
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    background-color: rgb(11, 47, 29);
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 15px;
    gap: 20px;
}

.paragraphs {
    width: 80%;
}

.paragraphA {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    text-align: left;
}

.paragraphB {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    text-align: right;
}

.paragraphA p, .paragraphB p {
    max-width: 50%;
}

.nav-list li {
    background-color: rgb(11, 47, 29);
    list-style: none;
    text-decoration-color: white;
    padding: 10px;
    position: relative;
}

.nav-list li a {
    background-color: rgb(11, 47, 29);
    text-decoration: none;
    color: white;
}

.nav-list li:hover,
.nav-list li:hover a {
    background-color: rgb(36, 146, 91);
}

body {
    margin: 0;
    padding: 0;
    background-color: #a2a2a2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

input, button, textarea {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    min-height: 50px;
    resize: vertical;
}

button {
    cursor: pointer;
    font-weight: 500;
}

.feedback-card {
    /* border: 1px solid black; */
    max-width: 980px;
    background-color: #fff;
    margin: 0 auto;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
}

.feedback-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.feedback-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-body__message, .feedback-body__email, .feedback-body__name {
    margin-top: 10px;
}

.feedback-body button {
    margin-top: 10px;
    align-self: flex-end;
}